html {
    font-family: 'Audiowide', cursive;
}

#canvas{
    border: solid black 1px;
}

body {
    background: url(images/ground-mars-wallpapers.jpeg);
    background-size: cover;
    padding-top: 20px;
    color: hsl(131,91%,44%);
}

.square {
    width:20px;
    height:20px;
    margin: 2px;
    background-color:rgba(128,128,128,0.7);
    float:left;
    color: hsl(131,91%,15%);
}

.square.point{
    color:red;
    font-size: 250%;
    line-height: 1px;
}

.square.p1{
    color: blue;
    font-weight: bolder;
    font-size: 120%;
}

.square.p2{
    color: purple;
    font-weight: bolder;
    font-size: 120%;
}

.rover-1 {
    background-image: url(images/mars-rover-topview.jpeg);
    background-size:cover;
}

.defloat {
    clear:both;
}

#left-btn {
    position: relative;
    left: 0px;
    top: 25px;
    width: 30px;
    text-align: center;
}

#backward-btn {
    position: relative;
    left: 0px;
    top: 25px;
    width: 30px;
    text-align: center;
}

#right-btn {
    position: relative;
    left: 0px;
    top: 25px;
    width: 30px;
    text-align: center;
}

#field-container  {
    width: fit-content;
    margin: auto;
    text-align: center;
    line-height: 20px;
    transform: skewX(15deg);
}

#game-board {
    width: fit-content;
    margin: auto;
}

#game-settings {
    width:40%;
}

#game-settings fieldset {
    border: 0px;
}

#scoreboard{
    color: hsl(131,91%,44%);
    position: absolute;
    width:35%;
    top:5vh;
    left:40vw;
    border: 0px;
    
}

#Rover-points , #Rover2-points {
    font-size: 200%;
}

.Rover2-label {
    margin-left: 20%;
}

.Rover-label, .Rover2-label {
    font-size: 150%;
}

.timer {
    font-size: 200%;
    margin-left: 80px;
    font-family: 'Monoton', cursive;
}

.download {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 0 15px;
    margin-left: 10px;
    padding: 8px 20px 10px;
    border: 1px solid rgb(31,45,77);
    border-top-color: rgb(56,83,140);
    border-bottom-color: rgb(21,30,51);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font: normal normal bold 14px/1 "Coda", Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgb(65, 98, 168);
    -webkit-box-shadow: 0 1px 10px 1px rgb(92,139,238) inset, 0 1px 0 0 rgb(29,44,77) , 0 6px 0 0 rgb(31,48,83) , 0 8px 4px 1px rgb(17,17,17) ;
    box-shadow: 0 1px 10px 1px rgb(92,139,238) inset, 0 1px 0 0 rgb(29,44,77) , 0 6px 0 0 rgb(31,48,83) , 0 8px 4px 1px rgb(17,17,17) ;
    text-shadow: 0 -1px 1px rgb(30,45,77) ;
  }
  
  .download:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 20px 1px rgb(135,173,255) inset, 0 1px 0 0 rgb(29,44,77) , 0 6px 0 0 rgb(31,48,83) , 0 8px 4px 1px rgb(17,17,17) ;
    box-shadow: 0 0 20px 1px rgb(135,173,255) inset, 0 1px 0 0 rgb(29,44,77) , 0 6px 0 0 rgb(31,48,83) , 0 8px 4px 1px rgb(17,17,17) ;
  }
  
  /* .download:active {
    margin: 5px 0 10px;
    -webkit-box-shadow: 0 1px 10px 1px rgb(92,139,238) inset, 0 1px 0 0 rgb(29,44,77) , 0 2px 0 0 rgb(31,48,83) , 0 4px 3px 0 rgb(17,17,17) ;
    box-shadow: 0 1px 10px 1px rgb(92,139,238) inset, 0 1px 0 0 rgb(29,44,77) , 0 2px 0 0 rgb(31,48,83) , 0 4px 3px 0 rgb(17,17,17) ;
  } */